.search-container {
  margin: 24px 24px;
}

input {
  height: 32px;
  background: #f1f3f4;
  width: 100%;
  height: 42px;
  border: 1px solid transparent;
  padding-left: 24px;
  border-radius: 8px;
}

input:focus {
  outline: none;
}
