@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.container {
  width: 550px;
  max-height: 550px;
  min-height: 550px;
  overflow-y: scroll;
  border: 1px solid #ececec;
}
